<!DOCTYPE html>
<html>
<head>
    <title>SSH Connection Form</title>
</head>
<body>
    <h1>SSH Connection Form</h1>
    <form action="/ssh" method="post">
        <label for="host">Host:</label>
        <input type="text" id="host" name="host"><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit" value="Connect">
    </form>
</body>
</html>
